button {
    border-radius: 6px;
    font-size: 16px;
    padding: 8px 24px;
    white-space: nowrap;
}

#btn-outlined-001 {
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 8px 16px;
}

#btn-001 {
    background: #00704a;
    border: 2px solid #00704a;
    color: #fff;
}

#btn-002 {
    border: 2px solid #fff;
    color: #fff;
    background: none;
}

#btn-003 {
    border: 2px solid #000;
    color: #000;
    background: none;
}

#btn-003:hover {
    border: 2px solid #000;
    color: #fff;
    background: #000;
}

@media (max-width: 992px) {
    button {
        border-radius: 3px;
    }    
}