header.header-web {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #f5f5f5;
    z-index: 1000;
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease, opacity 0.4s ease;
}

/* 숨김 상태 */
header.header-web.hide {
    transform: translateY(-100%);
    opacity: 0;
}

/* 헤더 아래 컨텐츠가 가려지지 않게 */
body {
    padding-top: 80px;
}


.header-inner {
    max-width: 1200px;
    width: 80%;
    position: static;
    display: flex;
    justify-content: space-between;
    place-items: center center;
    padding: 8px 16px;
    margin: 0 auto;
}

.header-inner .l .logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.header-inner .r {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-inner .r .top {
    margin-bottom: 8px;
    display: flex;
    justify-content: end;
}

.header-inner .r .top .gnb {
    display: flex;
    gap: 24px;
    justify-content: center;
    place-items: center center;
}

.header-inner .r .bot {
    position: static;
    /* 상대 위치를 제거해 기준을 바꿔줌 */
}

.header-inner .r .bot .gnb {
    display: flex;
    justify-content: center;
    place-items: center center;
    gap: 40px;
    /* background: #fff; */
    position: relative;
}

.header-inner .r .bot .gnb > li {
    /* position: relative; */
    position: static;
    /* lnb 기준이 li가 되지 않게 */
}

.header-inner .r .top .gnb li:last-child {
    display: flex;
    justify-content: center;
    place-items: center center;
    background: #ffffff;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.gnb li a, .lnb .category li a {
    font-size: 16px;

}

.gnb li a:hover, .lnb .category li a:hover {
    color: #ccc;
}

/* .lnb {
    display: none;
    background: #2f2f2f;
    width: 100%;
    padding: 8px 16px;
} */

/* .lnb {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background: #2f2f2f;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
} */

.lnb {
    position: absolute;
    left: -530px;
    top: 223%;
    width: 100vw;
    background: #2f2f2f;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 40px 0;
    /* box-sizing: border-box; */
    /* overflow: hidden; */

    /* 초기 상태: 숨김 */
    opacity: 0;
    visibility: hidden;
    /* max-height: 0; */
    transform: translateY(-10px);
    transition: all 0.4s ease;
}


/* .lnb.active {
    display: flex;
    width: 100%;
    max-height: 500px;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
} */

/* hover 시 활성화 */
.bot .gnb > li:hover > .lnb {
    opacity: 1;
    visibility: visible;
    /* max-height: 600px; */
    transform: translateY(0);
}

/* LNB 카테고리 스타일 */
.lnb .category {
    width: 180px;
}

.lnb .category .lnb-tit {
    display: block;
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
}

.lnb .category ul li a {
    color: #ccc;
    /* display: block; */
    font-size: 14px;
    line-height: 1.8;
}

.lnb .category ul li a:hover {
    color: #fff;
}



.lnb-tit {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

header.header-mob {
    display: none;
}

.drawer {
    display: none;
}

/* / header */

@media (max-width: 992px) {
    header.header-web {
        display: none;
    }

    header.header-mob {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #f5f5f5;
        z-index: 1000;
        box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1);
        transition: transform 0.4s ease, opacity 0.4s ease;
    }

    header.header-mob.hide {
    transform: translateY(-100%);
    opacity: 0;
}

    header.header-mob .header-mob-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 16px;
    }

    header.header-mob .header-mob-inner .header-mob-inner-left > h1.logo > a {
        display: block;
        width: 45px;
        height: 45px;
    }

    header.header-mob .header-mob-inner .header-mob-inner-left > h1.logo > a > img {
        display: block;
        width: 100%;
    }

    header.header-mob .header-mob-inner .header-mob-inner-right {
        display: flex;
        justify-content: space-between;
        place-items: center center;
    }

    header.header-mob .header-mob-inner .header-mob-inner-right > button {
        width: 60px;
        height: 60px;
    }

    header.header-mob .header-mob-inner .header-mob-inner-right > button > img {
        width: 25px;
    }

    .icon-btn {
        background: none;
        border: none;
        padding: 8px;
    }

    .lnb-container {
        display: none;
    }

    .en {
        color: #fff;
    }

    .drawer.open {
        right: 0;
    }

    .drawer-top {
        padding: 12px 16px;
        border-bottom: 1px solid #202020;
    }

    .search-form {
        display: flex;
        /* background: #f5f5f5; */
        border-radius: 8px;
        padding: 8px;
        gap: 8px;
    }

    .search-form input {
        flex: 1;
        border: none;
        background: #fff;
        font-size: 14px;
        padding: 18px 0;
        border-radius: 3px;
    }

    .search-form button {
        background: #5d5d5d;
        border: none;
        color: #fff;
        font-size: 18px;
        cursor: pointer;
    }

    /* 내부 스크롤 안보이게 */
    .drawer-body {
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .drawer-body::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Edge (Chromium) */
    }

    .drawer-menu > li:first-child {
        border-bottom: 1px solid #3c3c3c;
        display: flex;
        justify-content: center;
        place-items: center center;
        flex-direction: column;
        /* width: 21px; */
    }

    .drawer-menu > li:first-child .img {
        width: 21px;
    }

    .drawer-menu > li:first-child .img img {
        width: 100%;

    }

    .menu-toggle {
        width: 100%;
        background: none;
        text-align: left;
        font-size: 18px;
        font-weight: 400;
        padding: 24px;
        border: none;
        
        display: flex;
        justify-content: space-between;
    }

    .menu-toggle > span.mt-img img {
        display: inline-block;
        transition: transform 0.3s ease;
    }

    .menu-toggle > span.mt-img.active img {
        transform: rotate(180deg);
    }

    /* .menu-toggle.active .img {
        transform: rotate(180deg);
    } */

    .drawer-menu > li:nth-child(1) ~ li {
    background: #151515;
    }

    .submenu {
    display: none;
    }

    .submenu > li {
        padding: 24px;
        background: #1e1e1e;
        border: 1px solid #292929;
    }

    .submenu > li > a {
        display: block;
        color: #fff;
    }

    .submenu.open { 
        display: block;
        width: 100%;
    }

    .close-btn {
        position: absolute;
        top: 28px;
        left: -73px;
        transition: transform 0.3s ease;
        cursor: pointer;
    }

    .close-btn:hover {
        transform: rotate(90deg);
    }

    .drawer-dim {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.4);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease;
        z-index: 1500;
    }

    /* 드로어가 열렸을 때 Dim 보이기 */
.drawer.open ~ .drawer-dim,
.drawer-dim.active {
  opacity: 1;
  visibility: visible;
}

/* 드로어 z-index는 dim 위 */
.drawer {
  position: fixed;
  top: 0;
  right: -100%;
  width: 80%;
  height: 100%;
  background: #2d2926;
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease;
  display: flex;
  flex-direction: column;
  z-index: 2000;
}

.drawer.open {
  right: 0;
}

}