header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #f5f5f5;
  z-index: 1000;
  box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease, opacity 0.4s ease;
}

/* 숨김 상태 */
header.hide {
  transform: translateY(-100%);
  opacity: 0;
}

/* 헤더 아래 컨텐츠가 가려지지 않게 */
body {
  padding-top: 80px;
}


.header-inner {
    max-width: 1200px;
    width: 80%;
    position: static;
    display: flex;
    justify-content: space-between;
    place-items: center center;
    padding: 8px 16px;
    margin: 0 auto;
}

.header-inner .l .logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.header-inner .r {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-inner .r .top {
    margin-bottom: 8px;
    display: flex;
    justify-content: end;
}

.header-inner .r .top .gnb {
    display: flex;
    gap: 24px;
    justify-content: center;
    place-items: center center;
}

.header-inner .r .bot {
    position: static;
    /* 상대 위치를 제거해 기준을 바꿔줌 */
}

.header-inner .r .bot .gnb {
    display: flex;
    justify-content: center;
    place-items: center center;
    gap: 40px;
    /* background: #fff; */
    position: relative;
}

.header-inner .r .bot .gnb > li {
    /* position: relative; */
    position: static;
    /* lnb 기준이 li가 되지 않게 */
}

.header-inner .r .top .gnb li:last-child {
    display: flex;
    justify-content: center;
    place-items: center center;
    background: #ffffff;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.gnb li a, .lnb .category li a {
    font-size: 16px;

}

.gnb li a:hover, .lnb .category li a:hover {
    color: #ccc;
}

/* .lnb {
    display: none;
    background: #2f2f2f;
    width: 100%;
    padding: 8px 16px;
} */

/* .lnb {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background: #2f2f2f;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
} */

.lnb {
    position: absolute;
    left: -530px;
    top: 223%;
    width: 100vw;
    background: #2f2f2f;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 40px 0;
    /* box-sizing: border-box; */
    /* overflow: hidden; */

    /* 초기 상태: 숨김 */
    opacity: 0;
    visibility: hidden;
    /* max-height: 0; */
    transform: translateY(-10px);
    transition: all 0.4s ease;
}


/* .lnb.active {
    display: flex;
    width: 100%;
    max-height: 500px;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
} */

/* hover 시 활성화 */
.bot .gnb > li:hover > .lnb {
    opacity: 1;
    visibility: visible;
    /* max-height: 600px; */
    transform: translateY(0);
}

/* LNB 카테고리 스타일 */
.lnb .category {
    width: 180px;
}

.lnb .category .lnb-tit {
    display: block;
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
}

.lnb .category ul li a {
    color: #ccc;
    /* display: block; */
    font-size: 14px;
    line-height: 1.8;
}

.lnb .category ul li a:hover {
    color: #fff;
}



.lnb-tit {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

/* / header */