@import url(../css/reset.css);
@import url(../css/header.css);
@import url(../css/footer.css);
@import url(../css/button.css);
@import url(../css/font.css);
@import url(../css/modal.css);

#wrap {
    width: 100%;
    position: relative;
    overflow: hidden;
}



#container {
    width: 100%;
}

#hero-section {
    width: 100%;
    height: 100%;
    padding: 111px 0;
    background-image: url(../imgs/2025_autumn_top_bg_250916.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0%;
}

.hero-inner {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.hero-inner .l {
    width: 21%;
    display: block;
}

.hero-inner .l .txt-wrapper {
    display: block;
    margin-bottom: 24px;
    text-align: center;
}

.hero-inner .l .txt-wrapper .slogan {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}

.hero-inner .l .btn-area {
    display: flex;
    justify-content: center;
    place-items: center center;
}



.hero-inner .r {
    display: block;
    position: relative;
}

.hero-inner .r .r-inner {
    display: block;
}

.hero-inner .r .r-inner .img-wrapper {
    display: flex;
    position: relative;
    position: absolute;
    top: -22px;
    right: 206px;
}

.hero-inner .r .r-inner .img-wrapper .img {
    width: 137px;
    height: 199px;

    opacity: 0;
    transform: translateY(30px);
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-inner .r .r-inner .img-wrapper.active .img {
    animation: fadeUp 1s ease forwards;
}

.hero-inner .r .r-inner .img-wrapper .img:first-child {
    position: absolute;
    left: -414px;
    top: 53px;
    z-index: 1;
}

.hero-inner .r .r-inner .img-wrapper.active .img:first-child {
    animation-delay: 0s;
}

.hero-inner .r .r-inner .img-wrapper .img:nth-child(2) {
    position: absolute;
    top: -46px;
    left: -369px;
}

.hero-inner .r .r-inner .img-wrapper.active .img:nth-child(2){
    animation-delay: 0.4s;
}

.hero-inner .r .r-inner .img-wrapper .img:nth-child(3) {
    position: absolute;
    top: 52px;
    left: -232px;
    z-index: 1;
}

.hero-inner .r .r-inner .img-wrapper.active .img:nth-child(3) {
    animation-delay: 0.8s;
}

.hero-inner .r .r-inner .img-wrapper .img:nth-child(4) {
    position: absolute;
    top: -46px;
    left: -180px;
}

.hero-inner .r .r-inner .img-wrapper.active .img:nth-child(4) {
    animation-delay: 1.2s;
}

.hero-inner .r .r-inner .img-wrapper .img:nth-child(5) {
    position: absolute;
    top: 95px;
    left: -35px;
    z-index: 1;
}

.hero-inner .r .r-inner .img-wrapper.active .img:nth-child(5) {
    animation-delay: 1.6s;
}

.hero-inner .r .r-inner .img-wrapper .img:last-child {
    position: absolute;
    top: -41px;
    left: 4px;
}

.hero-inner .r .r-inner .img-wrapper.active .img:nth-child(5) {
    animation-delay: 2s;
}

.hero-inner .r .r-inner .img-wrapper .img img {
    width: 100%;
}

.notice {
    opacity: 0;
    transition: opacity 0.5s ease;
}
.notice.show {
    opacity: 1;
}



.notice-inner {
    display: flex;
}

.notice-inner .l {
    display: flex;
    justify-content: space-between;
    background: #000;
    padding: 16px 24px;
    width: 50%;
}

.notice-inner .l .inner, .notice-inner .r .inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    place-items: center center;
}

.notice-inner .l h4, .notice-inner .l p {
    color: #fff;
}

.content p {
    opacity: 0;             /* 처음엔 안보이게 */
    transform: translateY(20px); /* 아래로 살짝 이동 */
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.content p.show {
    opacity: 1;
    transform: translateY(0);
}


/* .notice-inner .l .plus-icon {
    background: #ccc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
} */

.notice-inner .r {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 16px 24px;
    width: 50%;
}

/* .notice-inner .r .arrow-bot-icon {
    background: #ccc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
} */

.arrow-bot-icon {
    width: 36px;
    height: 36px;
}

.arrow-bot-icon > a > img {
    width: 100%;
}

#reward {
    background: #1e3932;
    padding: 60px 0;
}

.reward-inner {
    display: flex;
    width: 68%;
    margin: 0 auto;
    gap: 24px;
}

.reward-inner .l {
    width: 176px;
    height: 153px;
}

.reward-inner .l img {
    width: 100%;
}

.reward-inner .r {
    width: 100%;
}

.reward-inner .r .top {
    display: flex;
    justify-content: space-between;
    place-items: center center;
    gap: 50px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 24px;
}

.reward-inner .r .top .txt-wrapper h3 {
    font-size: 26px;
    color: #fff;
    margin-bottom: 24px;
    white-space: nowrap;

}

.sub-tit-wrapper {
    margin-bottom: 24px;
}

.sub-tit {
    color: #fff;
    display: flex;
    gap: 8px;
    margin-bottom: 4px;
    white-space: nowrap;
}

.sub-tit span {
    font-weight: 700;
}

.reward-inner .r .top .btn-area {
    display: flex;
    gap: 8px;
    margin-bottom: 24px;
}

.reward-inner .r .bot .btn-area {
    width: 100%;
}

.reward-inner .r .bot .btn-area button {
    width: 100%;
}


.reward-inner .r .bot {
    color: #fff;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.reward-inner .r .bot .txt-area p {
    margin-bottom: 5px;
    font-size: 14px;
    white-space: nowrap;
}

.bold {
    font-weight: bold;
}

#promo {
    padding: 60px 0;
    background-image: url(../imgs/2025_autumn_promotion_bg_250916.jpg);
}

.promo-inner {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    place-items: center center;
}

.promo-inner .r .img {
    margin-bottom: 16px;
}

.promo-inner .r .img-mob {
    display: none;
}

.promo-inner .l .img, .promo-inner .r .img {
    opacity: 0;
    transition: all 1s ease;
}

.promo-inner .l .img {
    transform: translateX(-60px);
}
.promo-inner .r .img {
    transform: translateX(60px);
}

.promo-inner.active .l .img, .promo-inner.active .r .img {
    opacity: 1;
    transform: translateX(0);
}

#reserve {
    position: relative;
    height: 400px;
    background: url(../imgs/251021_pc_reserve_bg.jpg) no-repeat center top;
    background-size: 100% 400px;
    overflow: hidden;
}

.reserve-inner {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.reserve-inner .l {
    position: relative;
    z-index: 10;
    padding-top: 63px;
    max-width: 1080px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.reserve-inner .l img {
    transform: translateX(70px);
}

.reserve-inner .r {
    display: block;
    position: absolute;
    bottom: 0;
    opacity: 1;
    z-index: 1;
    right: -12%;
}

.reserve-inner .r img {
    max-width: none;
}

.reserve-inner .r img:last-child {
    display: none;
}

.fav {
    background: url(../imgs/2025_autumn_pick_bg_250916.jpg) center center fixed no-repeat #45434c;
    background-size: auto 87%;
    padding: 0;
    position: relative;
    background-position: bottom;
    padding: 60px 0;
    overflow: hidden;
}

.fav-inner {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}

.fav-inner .l {
    transform: translateX(-100px);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
}

.fav-inner .r {
    transform: translateX(100px);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
}

.fav-inner.active .l {
    transform: translateX(0);
    opacity: 1;
}

.fav-inner.active .r {
    transform: translateX(0);
    opacity: 1;
}

/* .fav-inner .r img {
    position: absolute;
    background-size: 100% !important;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 7;

    top: 95px;
    right: -195px;
    width: 944px;
    height: 608px;
} */

#reserve-magazine {
    /* background-image: url(../imgs/reserve_bg_pc.png) no-repeat 50% 100%; */
    background-image: url(../imgs/reserve_bg_pc.png);
    overflow: hidden;
    position: relative;
    height: 400px;
    background-size: auto 353px;
}

.reserve-magazine-inner {
    display: flex;
    justify-content: center;
}

.reserve-magazine-inner .l {
    position: relative;
    z-index: 10;
    padding-top: 135px;
    margin-right: 162px;
    max-width: 588px;
    width: 100%;
    box-sizing: border-box;
}

.reserve-magazine-inner .l img {
    width: 100%;
}

.reserve-magazine-inner .r {
    display: block;
    position: absolute;
    bottom: auto;
    opacity: 1;
    top: 0;
    right: 20%;
    /* right: 50%; */
    /* margin-right: -483px; */
}

.reserve-magazine-inner .r img {
    width: 100%;
}

.reserve-magazine-inner .r button {
    position: absolute;
    bottom: 23%;
    left: -89%;
    white-space: nowrap;
}

#store {
    background-image: url(../imgs/store_bg.jpg);
    padding-bottom: 93px;
    overflow: hidden;
}

.store-inner {
    display: flex;
    justify-content: center;
}

.store-inner .l {
    position: relative;
    width: 40%;
}


.store-inner .l::before {
    content: '';
    position: absolute;
    /* top: -1px; */
    top: -48px;
    right: -27px;
    width: 350px;
    min-height: 300px;
    height: 100%;
    background-image: url(../imgs/store_exp_img03.png);
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: center -35px; */
    pointer-events: none;
}

.store-inner .l img:first-child {
    position: absolute;
    top: 0;
    left: 0;
}
.store-inner .l img:nth-child(2) {
    position: absolute;
    top: 145px;
    left: 236px;
}
/* .store-inner .l img:last-child {
    position: absolute;
    top: -51px;
    left: 388px;
} */

.store-inner .r {
    display: block;
    width: 40%;
    position: relative;
    padding-top: 80px;
}
.store-inner .r img {
    display: block;
}

.store-img {
    position: absolute;
    right: 156px;
}

.store-inner .r img:nth-child(2) {
    margin-bottom: 24px;
}

.store-inner .r img:nth-child(3) {
    display: none;
}

.mob-br {
    display: none;
}

.store-img-m {
    display: none;
}

.btn-002-01 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
}

.hero-inner-mob {
    display: none;
}

.fav-inner-mob {
    display: none;
}

.reserve-magazine-btn-area {
    display: none;
}

.reserve-btn-area > a:first-child {
    display: block;
    width: fit-content;
    position: absolute;
    bottom: 89px;
    left: 34%;
    z-index: 10;
}

.reserve-btn-area > a:last-child {
    display: none;
}

@media (max-width: 992px) {

    #hero-section {
    width: auto;
    height: 367.97vw;
    background-image: url(../imgs/mob/2025_winter_top_bg_mo_251027.jpg);
    background-position: center top;
    box-sizing: border-box;
    margin-top: 9px;
}


    .hero-inner {
        display: none;
    }
    .hero-inner-mob {
        position: relative;
        box-sizing: border-box;
        max-width: 100%;
        height: 100%;
        margin: 0 auto;
        display: block;
    }

    .hero-inner-mob .hero-inner-mob-slogan {
        width: 67.032%;
        position: absolute;
        top: 9.852%;
        left: 50%;
        transform: translateX(-50%);
    }

    .hero-inner-mob > .hero-inner-mob-slogan > img {
        width: 100%;
        display: block;
    }

    .hero-inner-mob .hero-inner-mob-imgs .img01 {
        position: absolute;
        z-index: 8;
        top: 16.688%;
        left: 9.376%;
        max-width: 100%;
    }

    .hero-inner-mob .hero-inner-mob-imgs .img01 > img {
        width: 100%;
    }

    .hero-inner-mob .hero-inner-mob-imgs .img02 {
        position: absolute;
        z-index: 9;
        top: 29.6396%;
        left: 12.5%;
        width: 78.282%;
        max-width: 100%;
        overflow: hidden;
    }

    .hero-inner-mob .hero-inner-mob-imgs .img02 > img {
        width: 100%;
    }

    .hero-inner-mob .hero-inner-mob-imgs .img03 {
        position: absolute;
        z-index: 10;
        top: 47.9836%;
        left: 9.376%;
        width: 95.938%;
        max-width: 100%;
    }

    .hero-inner-mob .hero-inner-mob-imgs .img03 > img {
        width: 100%;
    }

    .hero-inner-mob .hero-inner-mob-imgs .img04 {
        position: absolute;
        z-index: 10;
        top: 61.869%;
        left: 12.5%;
        width: 79.22%;
        max-width: 100%;
    }

    .hero-inner-mob .hero-inner-mob-imgs .img04 > img {
        width: 100%;
    }

    .hero-inner-mob .hero-inner-mob-imgs .img05 {
        position: absolute;
        z-index: 10;
        top: 75.9666%;
        left: 9.376%;
        width: 99.846%;
        max-width: 100%;
    }

    .hero-inner-mob .hero-inner-mob-imgs .img05 > img {
        width: 100%;
    }

    .hero-sec-btn-area {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .hero-sec-btn-area > button {
        white-space: nowrap;
    }

    .reserve-btn-area {
        position: absolute;
        width: fit-content;
        bottom: -116px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
    }

    .reserve-btn-area > a:first-child {
        display: none;
    }

    .reserve-btn-area > a:last-child {
        display: block;
    }
    
    #promo {
        padding: 60px 0;
        background-image: url(../imgs/2025_autumn_promotion_bg_mo_250916.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    
.promo-inner {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.promo-inner .r .img {
    display: none;
}

.promo-inner .r .img-mob {
    display: block;
}

.promo-inner .r .img-mob img {
    display: block;
    width: 497px;
    margin-bottom: 24px;
}

#btn-002 {
    /* width: 100%; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.btn-002-01 {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: -1.2px;
}

#btn-002:hover {
    background-color: #fff;
    color: #000;
}

    
    #reserve {
    position: relative;
    height: 100vh;
    background: url(../imgs/251021_pc_reserve_bg.jpg) no-repeat center top;
    background-size: auto 335px;
    overflow: hidden;
    padding-bottom: 150px;
}

.reserve-inner .r {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;
    z-index: 1;
}

.reserve-inner .l {
    display: none;
}


.reserve-inner .r img:first-child {
    display: none;
}

    .reserve-inner .r img:last-child {
        width: 100vw;
        display: block;
        height: auto;
}
    #reserve-magazine {
        background-image: url(../imgs/reserve_visual_m.jpg);
        position: relative;
    /* height: 400px; */
    padding-bottom: 261px;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    }

    .reserve-magazine-inner {
        display: none;
    }

    .reserve-magazine-btn-area {
        display: block;
        position: absolute;
        bottom: 35px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
    }

    .reserve-magazine-btn-area > a {
        display: block;
    }

    .notice-inner {
        display: block;
    }

    .plus-icon {
        width: 40px;
        height: 40px;
    }

    .plus-icon > a > img {
        width: 100%;
    }

    .notice-inner .l, .notice-inner .r {
        display: block;
        width: 100%;
    }

    .notice-inner .l .inner, .notice-inner .r .inner {
    width: 86%;
    }

    .reward-inner {
        display: block;
    }

    .reward-inner .l {
        margin: 0 auto;
        margin-bottom: 24px;
    }

    .reward-inner .r .top {
        display: block;
    }

    .reward-inner .r .bot {
        display: block;

    }

    .reward-inner .r .top .txt-wrapper h3 {
        text-align: center;
        font-size: 20px;
        line-height: 1.3;
    }

    .reward-inner .r .top .btn-area {
        width: 100%;
    }

    .reward-inner .r .top .btn-area button {
        width: 50%;
    }

    .reward-inner .r .top .txt-wrapper .sub-tit-wrapper .sub-tit {
        text-align: center;
        justify-content: center;
        font-size: 14px;
        line-height: 1.5;
    }

    .reward-inner .r .bot .txt-area p {
        line-height: 1.5;
        text-align: center;
    }

    .reward-inner .r .bot .txt-area p:last-child {
        margin-bottom: 24px;
    } 


    
    .mob-br {
        display: block;
    }

    #store {
    background-size: 100% auto;
    height: 750px;
    position: relative;
    width: 100%;
    padding-bottom: 0;
    }
    
    .store-img {
        bottom: -290px;
        right: -119px;
    }

    .store-img-m {
    display: block;
    }

.store-inner .r {
    display: block;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-top: 384px;
}

.btn-area {
    display: flex;
    justify-content: center;
    
    opacity: 0;

    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}

.store-inner .r img:first-child {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 24px;

    /* 초기 상태 */
    opacity: 0;
    transform: translateY(-20px);

    animation: fadeDown 1s ease forwards;
    /* 1초 동안 실행, 끝나면 유지 */
}

@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.store-inner .r img:nth-child(2) {
    display: none;
}

.store-inner .r img:nth-child(3) {
    display: block;
    width: 454px;
    margin-bottom: 24px;

    /* 초기 상태 */
    opacity: 0;
    transform: translateY(20px);

    animation: fadeUp 1s ease forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.store-inner .l::before {
    top: 289px;
    left: -9px;
    width: 300px;
}

.fav {
    position: relative;
    background: url(../imgs/mob2/2025_winter_pick_bg_mo_251027.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-bottom: 440px;
}

.fav-inner {
    display: none;
}

.fav-inner-mob {
    display: block;
    position: absolute;
    top: 102px;
    left: 50%;
    transform: translateX(-50%);
}

.fav-inner-mob .fav-btn-area {
    position: absolute;
    bottom: -214px;
    left: 50%;
    transform: translateX(-50%);
}

.fav-inner-mob .fav-btn-area > a {
    display: block;
}

.fav-inner-mob > img:first-child {
    width: 100vw;
}

.fav-inner-mob .fav-inner-mob-bottom {
    position: absolute;
    bottom: -379px;
    left: 50%;
    transform: translateX(-50%);

        opacity: 0;

    animation: fadeIn 1s ease forwards;
}

.fav-inner-mob .fav-inner-mob-bottom > img:first-child {
    width: 65vw;
    position: absolute;
    bottom: 28px;
    left: 50%;
    transform: translateX(-50%);

    
}

.fav-inner-mob .fav-inner-mob-bottom > img:nth-child(2) {
    width: 76vw;
    position: absolute;
    bottom: -126px;
    left: 50%;
    transform: translateX(-50%);
}

}